*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* primary colors */
  --color: white;
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-cian: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cian: hsl(168, 34%, 41%);

  /* neutral */
  --desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  --font-barlow: "Barlow";
  --font-fraunces: "Fraunces";
}

.section-center {
  display: grid;
}
body {
  font-size: 16px;
}

.nav-center {
  background-image: url(./images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}
.logo {
  height: 2rem;
}
.toggle {
  height: 1.5rem;
}
.title {
  color: var(--color);
  font-family: "Fraunces";
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  padding: 0.25rem;
  display: none;
}

.nav-link {
  text-decoration: none;
  color: var(--color);
}

.toggle {
  color: var(--color);
  font-size: 2rem;
}
.info > h2,
.img-caption > h2 {
  font-size: 3rem;
  font-family: "Fraunces";
  text-align: center;
  font-weight: 900;
  /* color: var(--dark-cian); */
}
.info,
.img-caption {
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem;
}
.info > p,
.img-caption > p {
  font-family: var(--font-barlow);
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--dark-grayish-blue);
  text-align: center;
  line-height: 2.5rem;
  margin: 2rem 0;
}

.info a {
  font-family: var(--font-fraunces);
  font-weight: 900;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  align-self: center;
  text-transform: uppercase;
}
.arrow {
  height: 10rem;
  width: 3rem;
  align-self: center;
  margin-top: 3rem;
}

.img {
  width: 100%;
}
.image {
  position: relative;
}
.img-caption {
  position: absolute;
  bottom: 0.5rem;
}
.img-caption > p {
  color: var(--dark-cian);
  font-family: var(--font-barlow);
  font-weight: 600;
}

.graphic {
  color: var(--dark-cian);
}
.photography {
  color: var(--dark-blue);
}

.testimonials {
  padding: 5rem 2rem;
}
.testimonial-title {
  color: var(--dark-grayish-blue);
  font-family: var(--font-fraunces);
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.25rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
}

.card img {
  border-radius: 50%;
  width: 7rem;
  align-self: center;
}
.name,
.position,
.desc {
  align-self: center;
  text-align: center;
}

.desc {
  padding: 3rem 0;
  line-height: 2.5rem;
  font-family: var(--font-barlow);
  color: var(--dark-grayish-blue);
  font-weight: 600;
  font-size: 1.5rem;
}
.name {
  font-family: var(--font-fraunces);
  font-weight: 900;
  font-size: 1.5rem;
  padding: 1.5rem;
}
.position {
  color: var(--grayish-blue);
  font-family: var(--font-barlow);
  font-weight: 600;
  font-size: 1.25rem;
}
.foo-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer {
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem;
}
.socials {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}
.socials > a {
  text-decoration: none;
  padding: 3rem;
}
.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons img {
  padding: 1rem;
}
.footer-header {
  text-align: center;
  font-family: var(--font-barlow);
  font-size: 4rem;
  font-weight: 900;
}
footer {
  background-color: var(--dark-moderate-cian);
}
