*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* primary colors */
  --color: white;
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-cian: hsl(167, 40%, 24%);
  --dark-blue: hsl(198, 62%, 26%);
  --dark-moderate-cian: hsl(168, 34%, 41%);

  /* neutral */
  --desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);

  --font-barlow: "Barlow";
  --font-fraunces: "Fraunces";
}

.section-center {
  display: grid;
}
body {
  font-size: 16px;
}

.nav-center {
  background-image: url(./images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}
.logo {
  height: 2rem;
}
.toggle {
  height: 1.5rem;
  cursor: pointer;
}
.title {
  color: var(--color);
  font-family: "Fraunces";
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 1rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1.5rem;
  display: none;
}

#contact {
  color: var(--dark-cian);
  text-transform: uppercase;
  background-color: var(--white);
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  font-family: var(--font-fraunces);
  font-weight: 700;
}
#contact:hover {
  background-color: rgb(137, 213, 238);
  color: var(--white);
}
.nav-link {
  text-decoration: none;
  color: var(--color);
  font-family: var(--font-barlow);
  padding: 1rem 1.5rem;
  border-radius: 2rem;
}
.nav-link:hover:not(#contact) {
  border-bottom: 1px dotted whitesmoke;
}
.toggle {
  color: var(--color);
  font-size: 2rem;
}
.menu {
  position: absolute;
  display: grid;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem 3rem;
  margin: 0 auto;
  text-align: center;
}
.menu a {
  color: var(--dark-cian);
}
.menu::after {
  content: "";
  position: absolute;
  margin-left: 30px;
  border-width: 30px;
  bottom: 100%;
  right: 0;
  border-style: solid;
  border-color: transparent white white transparent;
}
.info > h2,
.img-caption > h2 {
  font-size: 3rem;
  font-family: "Fraunces";
  text-align: center;
  font-weight: 900;
  /* color: var(--dark-cian); */
}
.info,
.img-caption {
  display: flex;
  flex-direction: column;
  padding: 5rem 2rem;
}
.info > p,
.img-caption > p {
  font-family: var(--font-barlow);
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--dark-grayish-blue);
  text-align: center;
  line-height: 2.5rem;
  margin: 2rem 0;
}

.info a {
  font-family: var(--font-fraunces);
  font-weight: 900;
  font-size: 2rem;
  text-decoration: none;
  color: black;
  align-self: center;
  text-transform: uppercase;
}
.arrow {
  height: 10rem;
  width: 3rem;
  align-self: center;
  margin-top: 3rem;
  cursor: pointer;
  transition: 0.5s;
}
.arrow:hover {
  transform: translateY(3rem);
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image {
  position: relative;
}
.img-caption {
  position: absolute;
  bottom: 0;
}
.img-caption > p {
  color: var(--dark-cian);
  font-family: var(--font-barlow);
  font-weight: 600;
}

.graphic {
  color: var(--dark-cian);
}
.photography {
  color: var(--dark-blue);
}

.testimonials {
  padding: 5rem 2rem;
}
.testimonial-title {
  color: var(--dark-grayish-blue);
  font-family: var(--font-fraunces);
  text-transform: uppercase;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.25rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
}

.card img {
  border-radius: 50%;
  width: 7rem;
  align-self: center;
}
.name,
.position,
.desc {
  align-self: center;
  text-align: center;
}

.desc {
  padding: 3rem 0;
  line-height: 2.5rem;
  font-family: var(--font-barlow);
  color: var(--dark-grayish-blue);
  font-weight: 600;
  font-size: 1.5rem;
}
.name {
  font-family: var(--font-fraunces);
  font-weight: 900;
  font-size: 1.5rem;
  padding: 1.5rem;
}
.position {
  color: var(--grayish-blue);
  font-family: var(--font-barlow);
  font-weight: 600;
  font-size: 1.25rem;
}
.foo-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer {
  display: flex;
  flex-direction: column;
}
.socials {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}
.socials > a {
  text-decoration: none;
  padding: 2.5rem;
  font-family: var(--font-barlow);
  color: var(--very-dark-grayish-blue);
  font-size: 1.5rem;
}
.social-icons {
  display: flex;
  justify-content: center;
}
.social-icons ion-icon {
  padding: 1rem;
  font-size: 2rem;
  color: var(--very-dark-grayish-blue);
  cursor: pointer;
}
.socials > a:hover,
.social-icons ion-icon:hover {
  color: var(--white);
}
.footer-header {
  text-align: center;
  font-family: var(--font-barlow);
  font-weight: 900;
  font-size: 3.5rem;
}
footer {
  overflow-x: hidden;
  background-color: var(--dark-moderate-cian);
}

/* learn more links */

.trans-li::after {
  content: "";
  display: block;
  position: relative;
  top: -12px;
  opacity: 0.5;
  z-index: -1;
  border-radius: 2rem;
  background-color: var(--yellow);
  height: 10px;
  width: inherit;
}
.stand-li::after {
  content: "";
  display: block;
  position: relative;
  top: -12px;
  opacity: 0.5;
  z-index: -1;
  border-radius: 2rem;
  background-color: var(--soft-red);
  height: 10px;
  width: inherit;
}

.stand-li:hover::after,
.trans-li:hover::after {
  opacity: 1;
}
.menu #contact {
  padding: 1rem 1rem;
  background-color: var(--yellow);
  width: 50%;
  margin: 0 auto;
}
.show-menu {
  display: none;
}
@media screen and (min-width: 774px) {
  .nav-links {
    display: block;
  }
  .toggle {
    display: none;
  }
  .nav-center {
    background-image: url(./images/desktop/image-header.jpg);
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 0.5rem; */
  }
  .trans {
    order: -1;
  }
  .image {
    display: flex;
  }
  .image {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
  }
  .img-caption h2 {
    font-size: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .img-caption p {
    line-height: normal;
    padding: 0;
    margin-bottom: 0;
  }
  .card-container {
    display: flex;
    place-content: center;
  }
  .card img {
    margin-bottom: 2rem;
  }
  .card {
    padding: 0 1.5rem;
  }
  .footer {
    max-height: 100vh;
    overflow: hidden;
  }
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .foo-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .socials {
    padding: 0;
  }
  .menu {
    height: 0;
    overflow: hidden;
    top: -200px;
  }
}
